[run]
omit =
    */tests/*
    src/discover.py
    src/workflows/start.py
    src/tests/test_pdf_ocr.py

include =
    src/workflows/epfr/*

[report]
omit =
    */tests/*
    src/discover.py
    src/workflows/start.py
    src/tests/test_pdf_ocr.py

include =
    src/workflows/epfr/*
